.container{
  align-content: center;
  text-align: center;
}

button {
  cursor: pointer;
  margin: 20px 0;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: var(--blue-grey-600);
}
button:hover,
button:focus {
  outline: none;
  background-color: var(--blue-grey-050);
  color: var(--blue-grey-700);
}

button .prevMonth:before{
  content: ">";
  display: inline-block;
  transform: rotate(-270deg);

}
button .nextMonth:before{
  content: ">";
  display: inline-block;
  transform: rotate(-90deg);
}
